ul {

    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
}

a {

    color: white;
    text-decoration: none;
}

a.active{

    color: black;
}

a:hover {

    color: black;
}

#synopsis {

    font-style: Arial, Verdana, sans-serif;
    font-size: 16px;
}

